.rf-register-form {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width:100%;
  margin:auto;
  height:80%;
  vertical-align: middle;
  text-align:center;
}

* {
  box-sizing: border-box;
}

.rf-input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.rg-form {
  margin: auto;
}

.rf-icon {
  padding: 10px;
  background: var(--bs-primary);
  color: white;
  min-width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.25rem 0 0 0.25rem;
}

.rf-input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 0 0.25rem 0.25rem 0;
}

.rf-input-field:focus {
  border: 2px solid var(--bs-primary);
}

.rf-btn {
  background-color: var(--bs-primary);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0;
}

.rf-btn:hover {
  opacity: 1;
}

