<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Settings</title>
        <link rel="stylesheet" href="{{url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/assets/fonts/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/Login-Form-Basic.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/Register-form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/styles.css')}}">
    </head>
    <body>
        {% with active='settings' %}
        {% include 'components/nav-bar.html' %}
        {% endwith %}
    </body>
</html>