bcrypt==4.0.0
bidict==0.22.0
cachelib==0.8.0
click==8.0.4
colorama==0.4.4
dnspython==2.2.1
eventlet==0.33.0
Flask==2.2.5
flask-login==0.6.3
Flask-MySQLdb==1.0.1
Flask-Session==0.4.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==2.5.1
flask-wtf==1.0.1
greenlet==1.1.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
mysqlclient==2.1.0
password-strength==0.0.3.post2
python-engineio==4.0.0
python-socketio==5.0.2
six==1.16.0
SQLAlchemy==1.4.35
Werkzeug==2.3.8
zope.event==4.5.0
zope.interface==5.4.0
gunicorn==21.2.0